<header class="menucontent">

    <img class="logo" src="/img/oba_logo_kort_rood_h.svg">
    <div class="wrap center" >
        <form action="/search" method="GET">
            <input name="search" type="text" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">
                <i class="go-search"></i>
            </button>
        </form>
    </div>


    <nav class="menuItems">
        <ul class="center">
            <li> <a href="/collection" class="menuButton collectionButton">
                    Gedeeld met u
                </a>
            </li>

            <li> <a href="/collection" class="menuButton collectionButton">
                    Leeslijst Frans
                </a>
            </li>

            <li> <a href="/collection" class="menuButton collectionButton">
                    Toffe gedichten
                </a>
            </li>

            <li> <a href="/collection" class="menuButton collectionButton">
                    gele kaften
                </a>
            </li>

            <li> <a href="/collection" class="menuButton collectionButton">
                    + nieuwe Leeslijst
                </a>
            </li>
        </ul>


    </nav>


</header>