<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>OBA</title>
</head>

<body>
    <div class="bgBar">

    </div>
    <main class="panel">
            
        <% include ../partials/sidemenu %>
                  


        <section class="content">
            <h3>Je bent offline</h3>
        </section>



    </main>


    <script src="/js/oba.js"></script>

</body>

</html>