<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>OBA</title>
</head>

<body>
  <div class="bgBar"></div>
  <div class="panel">
    <% include ../partials/sidemenu %>


    <div class="content">
      <div class="root">
        <div class="container">
          <h1>Search</h1>

          <% data.forEach(function(book) { %>
            <article>
          <img src=<%= book.imgLink %>>
          <a href="./boek/<%=book.id %>"   
          <h1 class="bookTitel id<%=book.id %>"</h1>
             <%= book.titel %>
          </h1> </a>
          </article>
          <% }); %>

        </div>
      </div>
    </div>



  </div>
  <div class="popup"></div>
  <script src="../../js/app.js" type="module"></script>

</body>

</html>